@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello Word</h1>
    <p>Venha conhecer nosso site!!</p>
    <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis est quis nulla ex tempore laudantium, tenetur laborum necessitatibus odit eligendi quod cumque quae repellendus veniam atque provident earum. Dolores, sequi suscipit.</h1>
</div>

